- @query.transactions.each do |t|
	%tr.transaction-row
		%td.tr-cat.icon-food-150
			%span
				&nbsp;
		- if t.amount >= 0
			%td.tr-amount.positive
				= t.amount
		- else
			%td.tr-amount.negative
				= t.amount
		%td.tr-vendor
			= t.vendor
		%td.tr-comment
			= t.comment
		%td.tr-account
			= t.account.name
		%td.tr-subtotal
			= @subtotal += t.amount
