- @query.transactions.each do |t|
	%tr
		%td
			= t.id
		%td
			= t.at
			\.
		%td.cat-food
			= t.category.name
		%td
			= t.vendor
		%td
			= t.comment
		%td
			= t.account.name
		%td.amount
			= t.amount
		%td.subtotal
			= @subtotal += t.amount
